@import "tailwindcss";

@theme {
  --color-primary: #0071e3;
  --color-dark-100: #F5F5F7;
  --color-light-100: #FFFFFF;

  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(to bottom right,
      #0894ff 0%,
      #c959dd 34%,
      #ff2e54 68%,
      #ff9004);
}



html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}



















@layer utilities {
  .section-spacing {
    @apply py-40;
  }

  .section-heading {
    @apply text-white font-semibold text-3xl lg:text-7xl text-center max-w-3xl mx-auto;
  }
}

@layer components {
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex items-center justify-center bg-black min-h-[7vh];

    nav {
      @apply container mx-auto flex items-center justify-between px-5;

      @media (min-width: 1536px) {
        @apply px-0;
      }

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply bg-transparent border-none outline-none cursor-pointer;
        }
      }

      ul {
        @apply flex items-center justify-center gap-8;

        a {
          @apply hidden md:block text-white opacity-80 font-[Regular] text-sm cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
        }
      }
    }
  }

  #hero {
    @apply h-fit flex flex-col items-center justify-center mt-40;

    @media (min-width: 1024px) {
      @apply h-[80vh] mt-20;
    }

    @media (min-width: 1536px) {
      @apply mt-[7vh];
    }

    div {
      @apply relative z-10 flex flex-col items-center justify-center;

      @media (min-width: 1024px) {
        @apply translate-y-16;
      }

      h1 {
        @apply font-semibold text-white;

        @media (min-width: 1024px) {
          @apply text-3xl;
        }

        @media (min-width: 1536px) {
          @apply text-5xl;
        }
      }

      img {
        @apply container mx-auto w-2/3;
      }
    }

    video {
      @apply mx-auto;

      @media (min-width: 1024px) {
        @apply translate-y-5;
      }

      @media (min-width: 1536px) {
        @apply translate-y-0;
      }
    }

    button {
      @apply relative z-10 bg-primary text-white py-2 px-6 mt-10 mb-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-white hover:text-black transition-all duration-300 ease-in-out;

      @media (min-width: 1024px) {
        @apply mt-0;
      }
    }

    p {
      @apply font-semibold text-base text-[#F5F5F7];

      @media (min-width: 1024px) {
        @apply font-semibold text-xl text-[#F5F5F7];
      }
    }
  }

  #product-viewer {
    @apply container relative min-h-[93vh] mx-auto px-5 mt-40;

    @media (min-width: 1536px) {
      @apply px-0;
    }

    h2 {
      @apply text-white font-semibold text-3xl;

      @media (min-width: 1024px) {
        @apply text-6xl;
      }
    }

    .controls {
      @apply absolute z-50 bottom-40 left-1/2 -translate-x-1/2;

      @media (min-width: 1024px) {
        @apply bottom-40;
      }

      @media (min-width: 1536px) {
        @apply bottom-52;
      }

      .info {
        @apply text-xs text-white bg-black/20 px-2 py-1 rounded-lg;
      }

      .color-control {
        @apply flex items-center justify-between bg-neutral-800 rounded-full px-6 py-3 gap-4;

        div {
          @apply size-7 rounded-full cursor-pointer;
        }

        .active {
          @apply ring-5 size-5 ring-light-100;
        }
      }

      .size-control {
        @apply font-medium text-xs flex items-center justify-between bg-neutral-800 rounded-full px-6 py-2.5 gap-2;

        div {
          @apply size-8 rounded-full cursor-pointer bg-white text-black flex items-center justify-center;
        }
      }
    }

    #canvas {
      @apply !w-full !h-[80vh] relative z-40;

      @media (min-width: 1024px) {
        @apply !h-dvh;
      }
    }
  }

  #showcase {
    @apply relative;

    .media {
      @apply relative;

      @media (min-width: 1024px) {
        @apply overflow-hidden;
      }

      video {
        @apply w-full object-cover object-center;
      }

      .mask {
        @apply absolute h-full top-0;

        @media (min-width: 1024px) {
          @apply -top-20;
        }

        @media (min-width: 1280px) {
          @apply top-0;
        }

        img {
          @apply h-full scale-150;
          transform: matrix(80, 0, 0, 80, 0, 0);

          @media (min-width: 1024px) {
            @apply scale-100;
          }
        }

        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content {
      @apply relative z-10 my-5 bg-black font-semibold text-xl text-[#F5F5F7];

      @media (min-width: 1024px) {
        @apply -mt-40 opacity-0;
      }

      .wrapper {
        @apply container mx-auto px-5 pb-20 flex flex-col justify-center gap-20;

        @media (min-width: 1024px) {
          @apply flex-row;
        }

        @media (min-width: 1536px) {
          @apply px-0;
        }
      }

      h2 {
        @apply font-semibold text-3xl text-white;

        @media (min-width: 1024px) {
          @apply text-7xl;
        }
      }

      h3 {
        @apply font-semibold text-xl text-white;

        @media (min-width: 1024px) {
          @apply text-5xl;
        }
      }
    }
  }

  #performance {
    @apply w-dvw h-full overflow-hidden pt-20 flex flex-col items-center relative;

    h2 {
      @apply font-semibold text-3xl text-white max-w-2xl text-center;

      @media (min-width: 1024px) {
        @apply text-6xl;
      }
    }

    .wrapper {
      @apply w-7xl h-[50vh] relative;

      @media (min-width: 1024px) {
        @apply h-screen;
      }

      @media (min-width: 1536px) {
        @apply w-[100rem];
      }

      img {
        @apply max-w-40 object-cover object-center;

        @media (min-width: 1024px) {
          @apply max-w-[27rem];
        }

        @media (min-width: 1536px) {
          @apply max-w-[35rem];
        }
      }

      .p1 {
        @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
      }

      .p2 {
        @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
      }

      .p3 {
        @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%];
      }

      .p4 {
        @apply absolute bottom-[15%] right-[10%] z-[1] max-sm:right-[30%];
      }

      .p5 {
        @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
      }

      .p6 {
        @apply absolute bottom-1/4 left-1/4 z-[2] max-sm:left-[35%];
      }

      .p7 {
        @apply absolute bottom-[5%] left-[15%] z-[3] max-sm:left-[35%];
      }
    }

    .content {
      @apply mx-auto max-w-xl mt-24;

      p {
        @apply font-semibold text-base text-[#F5F5F7] text-center translate-y-10 opacity-0 px-5;

        @media (min-width: 1024px) {
          @apply font-semibold text-xl text-[#F5F5F7];
        }
      }
    }
  }

  #features {
    @apply pt-40 relative;

    h2 {
      @apply text-white font-semibold text-3xl text-center max-w-3xl mx-auto;

      @media (min-width: 1024px) {
        @apply text-7xl;
      }
    }

    #f-canvas {
      @apply !w-full !h-dvh relative z-40;
    }

    .box {
      @apply max-w-xs absolute;

      p {
        @apply font-semibold text-base text-[#F5F5F7];

        @media (min-width: 1024px) {
          @apply font-semibold text-xl text-[#F5F5F7];
        }
      }
    }
  }

  #highlights {
    @apply container mx-auto;

    @media (min-width: 1024px) {
      @apply py-40;
    }

    @media (max-width: 1023px) {
      @apply px-5;
    }

    h2 {
      @apply text-white font-semibold text-3xl text-center max-w-3xl mx-auto;

      @media (min-width: 1024px) {
        @apply text-7xl;
      }
    }

    h3 {
      @apply text-[#F5F5F7] font-semibold text-xl text-center mt-10;

      @media (min-width: 1024px) {
        @apply text-3xl;
      }
    }

    .masonry {
      @apply grid grid-cols-1 gap-5 mt-20 text-[#F5F5F7];

      @media (min-width: 1024px) {
        @apply grid-cols-2;
      }

      .left-column {
        @apply flex flex-col justify-between gap-5 opacity-0 -translate-y-5;

        div:first-of-type {
          @apply h-full bg-[url(/highlight-bg.png)] bg-no-repeat bg-cover p-10 rounded-3xl;

          @media (min-width: 1024px) {
            @apply pt-20;
          }

          @media (min-width: 1536px) {
            @apply pt-32;
          }

          p {
            @apply font-semibold text-4xl max-w-2xs;
          }
        }

        p {
          @apply font-semibold text-4xl max-w-2xs;
        }

        div:last-of-type {
          @apply bg-[#1D1D1F] p-10 rounded-3xl flex items-center gap-7;

          p {
            @apply font-semibold;

            @media (min-width: 1024px) {
              @apply text-2xl;
            }

            @media (min-width: 1536px) {
              @apply text-3xl;
            }
          }
        }
      }

      .right-column {
        @apply flex flex-col justify-between gap-5 opacity-0 -translate-y-5;

        p {
          @apply font-semibold text-4xl max-w-2xs;
        }

        .codespark-gradient {
          @apply p-10 rounded-3xl flex items-center gap-7 relative;

          background: #1d1d1f;
          background-clip: padding-box;
          /* !important */
          border: 3px solid transparent;
          /* !important */

          ::before {
            content: "";
            pointer-events: none;
            position: absolute;
            inset: 0px;
            z-index: -1;
            margin: -5px;
            /* !important */
            border-radius: 24px;
            /* !important */
            background: linear-gradient(91deg,
                #0096ff 0%,
                #bb64ff 42%,
                #f2416b 74%,
                #eb7500 100%);
          }

          p {
            @apply font-semibold;

            @media (min-width: 1024px) {
              @apply text-2xl;
            }

            @media (min-width: 1536px) {
              @apply text-3xl;
            }

            span {
              background: linear-gradient(91deg,
                  #0096ff 0%,
                  #bb64ff 42%,
                  #f2416b 74%,
                  #eb7500 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        div:last-of-type {
          @apply h-full bg-[#1D1D1F] p-10 rounded-3xl;

          @media (min-width: 1024px) {
            @apply pt-20;
          }

          @media (min-width: 1536px) {
            @apply pt-32;
          }

          p {
            @apply font-semibold text-4xl max-w-sm;

            .green-gradient {
              background: linear-gradient(90deg, #35a98a 0%, #6dd400 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }

  footer {
    @apply container mx-auto py-7;

    @media (max-width: 1023px) {
      @apply px-5;
    }

    .info {
      @apply flex items-center justify-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col justify-between gap-5 text-sm;

      @media (min-width: 1024px) {
        @apply flex-row items-center;
      }

      @media (max-width: 1023px) {
        @apply mt-5;
      }

      ul {
        @apply flex flex-col gap-2.5;

        @media (min-width: 1024px) {
          @apply divide-x flex-row;
        }

        li {
          @apply cursor-pointer hover:text-primary transition-all duration-300 ease-in-out;

          @media (min-width: 1024px) {
            @apply px-5;
          }
        }
      }
    }
  }
}